<div class="mt-3">
  @if (agendamentoConsulta) {
    <div class="row">
      <h2>
        Consulta {{ agendamentoConsulta.pet.sexo === 'Fêmea' ? 'da' : 'do' }}
        {{ agendamentoConsulta.pet.nome }}({{ agendamentoConsulta.pet.especie }})
      </h2>
      <p class="col-auto dadospet">
        <strong>Status: </strong>{{ agendamentoConsulta.pet.status ? 'Ativo' : 'Inativo' }}
      </p>
      <p class="col-auto dadospet"><strong>Raça: </strong>{{ agendamentoConsulta.pet.raca }}</p>
      <p class="col-auto dadospet">
        <strong>Esterilização: </strong>{{ agendamentoConsulta.pet.esterilizacao ? 'Sim' : 'Não' }}
      </p>
      <p class="col-auto dadospet">
        <strong>Pelagem: </strong>{{ agendamentoConsulta.pet.pelagem }}
      </p>
      <p class="col-auto dadospet">
        <strong>Temperamento: </strong>{{ agendamentoConsulta.pet.temperamento }}
      </p>
      <p class="col-auto dadospet"><strong>Sexo: </strong>{{ agendamentoConsulta.pet.sexo }}</p>
      @if (agendamentoConsulta.pet.microchip) {
        <p class="col-auto dadospet"><strong>Chip: </strong>{{ agendamentoConsulta.pet.chip }}</p>
      }
      <p class="col-auto dadospet">
        <strong>Repsonsável: </strong>{{ agendamentoConsulta.pet.cliente.nome }}
      </p>
      <p class="col-auto dadospet">
        <strong>Cpf: </strong>{{ agendamentoConsulta.pet.cliente.cpf }}
      </p>
      <p class="col-auto dadospet">
        <strong>Endereço: </strong>{{ agendamentoConsulta.pet.cliente.endereco.logradouro }},
        {{ agendamentoConsulta.pet.cliente.endereco.bairro }},
        {{ agendamentoConsulta.pet.cliente.endereco.numero }},
        {{ agendamentoConsulta.pet.cliente.endereco.cidade }} -
        {{ agendamentoConsulta.pet.cliente.endereco.uf }}
      </p>
    </div>
  } @else {
    <div class="mt-3 row">
      <h2 class="col-12">{{ nome }} Consulta</h2>
      <div class="col-2 text-end group-novo"></div>
    </div>
  }
  <hr />
  @if (agendamentoConsulta) {
    <app-consulta-form
      [agendamento]="agendamentoConsulta"
      (consultaConcluida)="onConsultaConcluida($event)"
    ></app-consulta-form>
  } @else if (!isAgedamento && !agendamentoConsulta) {
    <div class="alert alert-warning row" role="alert">
      <p class="col-9 aviso">
        Você precisa selecionar um agendamento para poder realizar uma consulta ou agendar uma.
      </p>
      <div class="text-end col-3">
        <button class="btn btn-sm btn-secondary" (click)="onClickEmitter()">Agendar</button>
      </div>
    </div>
  } @else {
    <app-consultas-form-agendamentos (cancelar)="onCancelar()"></app-consultas-form-agendamentos>
  }

    <div class="row mt-2 g-1">
      @for (item of agendamentosFiltrados; track item.id) {
        <div class="card mb-1 col-sm-5 col-md-4 col-lg-3 p-0 m-1">
          <div
            class="card-header p-0 ps-2"
            [class]="badgeStatus[item.consulta.status || 'AGENDADO']"
          >
            {{ item.pet.nome }}
          </div>
          <div class="card-body p-2">
            <h6 class="card-title mb-1">{{ item.veterinario.nome }}</h6>
            <p class="card-text mb-1">{{ item.dia }} - {{ item.horario }}</p>
            @if (item.consulta.status != 'CANCELADO' && item.consulta.status != 'REALIZADO') {
              <div class="text-end">
                <button class="btn btn-sm btn-secondary" (click)="iniciarConsulta(item)">
                  Iniciar
                </button>
              </div>
            }
          </div>
        </div>
      }
    </div>
</div>
