<div class="mt-3">
  <div class="card-header row">
    <div class="mb-3 col-12 page-header-main">
      <h4 class="mb-0 screen-title">{{ dto ? 'Editar' : 'Cadastrar' }} Cliente</h4>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="salvarForm()" novalidate>
      <div class="container-fluid">
        <div class="row g-1">
          <!-- Nome -->
          <div class="mb-3 col-6 form-field">
            <label for="nome" class="form-label">Nome</label>
            <input
              id="nome"
              type="text"
              class="formControl"
              formControlName="nome"
              placeholder="Digite o nome"
            />
            @if (form.get('nome')?.invalid && form.get('nome')?.touched) {
            <div class="text-danger">Nome é obrigatório.</div>
            }
          </div>

          <!-- CPF -->
          <div class="mb-3 col-3 form-field">
            <label for="cpf" class="form-label">CPF</label>
            <input
              id="cpf"
              type="text"
              class="formControl"
              formControlName="cpf"
              placeholder="Digite o CPF"
              (keyup)="formatarCampo($event)"
              maxlength="14"
            />
            @if (form.get('cpf')?.invalid && form.get('cpf')?.touched) {
            <div class="text-danger">CPF é obrigatório.</div>
            }
          </div>

          <!-- Telefone -->
          <div class="mb-3 col-3 form-field">
            <label for="telefone" class="form-label">Telefone</label>
            <input
              id="telefone"
              type="tel"
              class="formControl"
              formControlName="telefone"
              placeholder="Digite o telefone"
              (keyup)="formatarCampo($event)"
              maxlength="15"
            />
            @if (form.get('telefone')?.invalid && form.get('telefone')?.touched) {
            <div class="text-danger">Telefone é obrigatório.</div>
            }
          </div>

          <!-- Email -->
          <div class="mb-3 col-6 form-field">
            <label for="email" class="form-label">Email</label>
            <input
              id="email"
              type="email"
              class="formControl"
              formControlName="email"
              placeholder="Digite o email"
            />
            @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <div class="text-danger">Email inválido.</div>
            }
          </div>

          <!-- Endereço -->
          <div class="mb-3 col-2 form-field" formGroupName="endereco">
            <label for="cep" class="form-label">CEP</label>
            <input
              id="cep"
              type="text"
              class="formControl"
              formControlName="cep"
              placeholder="Digite o cep"
              (keyup)="formatarCampo($event)"
              (blur)="buscarEnderecoPorCep()"
              maxlength="9"
            />
            @if (form.get('endereco.cep')?.invalid &&
            form.get('endereco.cep')?.touched) {
            <div class="text-danger">CEP inválido.</div>
            }
          </div>

          <div class="mb-3 col-1 form-field" formGroupName="endereco">
            <label for="uf" class="form-label">UF</label>
            <input
              formControlName="uf"
              id="uf"
              list="listaEstados"
              class="formControl"
              placeholder="UF"
              (change)="buscarMunicipiosPorEstado($event.target.value)"
            />

            <datalist id="listaEstados">
              @for (estado of estados; track estado.id) {
              <option [value]="estado.sigla">{{ estado.nome }}</option>
              }
            </datalist>
            @if (form.get('endereco.uf')?.invalid && form.get('endereco.uf')?.touched) {
            <div class="text-danger">UF é obrigatória.</div>
            }
          </div>

          <div class="mb-3 col-3 form-field" formGroupName="endereco">
            <label for="cidade" class="form-label">Município</label>
            <input
              formControlName="cidade"
              id="cidade"
              list="listaMunicipios"
              class="formControl"
              placeholder="Digite a cidade"
            />
            <datalist id="listaMunicipios">
              @for (municipio of municipios; track municipio.id) {
              <option [value]="municipio.nome">{{ municipio.nome }}</option>
              }
            </datalist>
            @if (form.get('endereco.cidade')?.invalid && form.get('endereco.cidade')?.touched) {
            <div class="text-danger">Município é obrigatório.</div>
            }
          </div>

          <div class="mb-3 col-6 form-field" formGroupName="endereco">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input
              id="logradouro"
              type="text"
              class="formControl"
              formControlName="logradouro"
              placeholder="Digite o logradouro"
            />
            @if (form.get('endereco.logradouro')?.invalid && form.get('endereco.logradouro')?.touched) {
            <div class="text-danger">Logradouro é obrigatório.</div>
            }
          </div>

          <div class="mb-3 col-4 form-field" formGroupName="endereco">
            <label for="bairro" class="form-label">Bairro</label>
            <input
              id="bairro"
              type="text"
              class="formControl"
              formControlName="bairro"
              placeholder="Digite o bairro"
            />
            @if (form.get('endereco.bairro')?.invalid && form.get('endereco.bairro')?.touched) {
            <div class="text-danger">Bairro é obrigatório.</div>
            }
          </div>

          <div class="mb-3 col-2 form-field" formGroupName="endereco">
            <label for="numero" class="form-label">Nº</label>
            <input
              id="numero"
              type="text"
              class="formControl"
              formControlName="numero"
              placeholder="Digite o numero"
            />
            @if (form.get('endereco.numero')?.invalid && form.get('endereco.numero')?.touched) {
            <div class="text-danger">Número é obrigatório.</div>
            }
          </div>

          <!-- Botões -->
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-secondary me-2" (click)="cancelarForm()">
              Descartar
            </button>
            <button type="submit" class="btn btn-success" [disabled]="form.invalid">
              {{ dto ? 'Atualizar' : 'Salvar' }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
