.text-muted {
  opacity: 0.4;
}

.truncate {
  white-space: nowrap;      /* Impede que o texto quebre em várias linhas */
  overflow: hidden;         /* Oculta qualquer texto que exceda a largura da célula */
  text-overflow: ellipsis;  /* Adiciona as reticências ("...") ao final do texto oculto */
  max-width: 50px;         /* Define uma largura máxima para a célula (ajuste conforme necessário) */
}
