<nav class="navbar sticky-top bg-dark border-body">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img [src]="user.logo" alt="Logo da empresa" width="30" height="24" class="d-inline-block align-text-top">
      <span class="h4 ms-2 text-white">
        {{ user.company }}
      </span>
    </a>
    <div class="d-flex">
      <span class="ms-2 text-white">{{ user.name }} | </span>
      <span class="ms-2 text-white">{{ user.company }}</span>
    </div>
  </div>
</nav>
