<div class="mt-4">
  <div class="card">
    <ul class="list-group list-group-flush">
      @for (item of agendamentosFiltrados; track item.id) {
        <li
          class="list-group-item inline-flex"
          [title]="
          getTipoAgendamentoFrase(item.tipo) +
            ' ' +
            item.dia +
            ' às ' +
            item.horario +
            ' com ' +
            item.veterinario.nome +
            ' - ' +
            (item.consulta ? labelStatus[item.consulta.status] : 'Agendado')
          "
        >
          <strong>{{ item.pet.nome }}</strong>
          <div>
            <span>{{ item.dia }}</span>
            &nbsp;
            <span>{{ item.horario }}</span>
            &nbsp;
            @if (item.consulta) {
              <i
                [class]="
                  iconesStatus[item.consulta.status] + ' ' + fonteColorStatus[item.consulta.status]
                "
              ></i>
            } @else {
              <i class="fa-solid fa-calendar"></i>
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>
