<div class="card-body">
  <form [formGroup]="form" (ngSubmit)="salvarForm()" class="container mt-4">
    <div class="row">
      <div class="mb-3 col-md-6">
        <label for="veterinario" class="form-label">Veterinário</label>
        <input
          id="veterinario"
          type="text"
          readonly
          class="formControl readonly"
          formControlName="veterinarioNome"
        />
      </div>

      <div class="mb-3 col-md-3">
        <label for="peso" class="form-label">Peso (kg)</label>
        <input type="number" id="peso" formControlName="peso" class="formControl" />
      </div>

      <div class="mb-3 col-md-6" formGroupName="consulta">
        <label for="anamnese" class="form-label">Anamnese</label>
        <textarea
          id="anamnese"
          formControlName="anamnese"
          class="formControl"
        ></textarea>
      </div>

      <div class="mb-3 col-md-6" formGroupName="consulta">
        <label for="exameFisico" class="form-label">Exame Físico</label>
        <textarea id="exameFisico" formControlName="exameFisico" class="formControl"></textarea>
      </div>

      <div class="mb-3 col-md-6" formGroupName="consulta">
        <label for="tratamento" class="form-label">Tratamento</label>
        <textarea id="tratamento" formControlName="tratamento" class="formControl"></textarea>
      </div>

      <div class="mb-3 col-md-6" formGroupName="consulta">
        <label for="prescricao" class="form-label">Prescrição</label>
        <textarea id="prescricao" formControlName="prescricao" class="formControl"></textarea>
      </div>

      <div class="mb-3 col-md-3" formGroupName="consulta">
        <label for="diagnostico" class="form-label">Diagnóstico</label>
        <input id="diagnostico" formControlName="diagnostico" class="formControl">
      </div>
      <div class="form-check mb-3 col-md-2" formGroupName="consulta">
        <input
          type="checkbox"
          id="internamento"
          formControlName="internamento"
          class="form-check-input"
        />
        <label for="internamento" class="form-check-label">Internamento</label>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-2">Salvar</button>
        <button type="button" (click)="cancelarForm()" class="btn btn-secondary">Cancelar</button>
      </div>
    </div>
  </form>
</div>
