<div class="mt-3">
  @if (!isAgedamento) {
    <div class="mt-3 page-header">
      <div class="page-header-main">
        <h4 class="screen-title">Vacinas do Dia</h4>
      </div>
      <div class="page-header-actions">
        <button class="btn btn-sm btn-secondary" (click)="onClickEmitter()">Agendar</button>
      </div>
    </div>
    <hr />
    @if (agendamentosFiltrados.length === 0) {
      <div class="alert alert-warning" role="alert">
        Não há vacinas agendadas para hoje.
      </div>
    } @else {
      <div class="row mt-2 g-1">
        @for (item of agendamentosFiltrados; track item.id) {
          <div class="card mb-1 col-sm-5 col-md-4 col-lg-3 p-0">
            <div class="card-header p-0 ps-2" [class]="getStatusClass(item.status)">
              {{ item.pet.nome }}
            </div>
            <div class="card-body p-2">
              <h6 class="card-title mb-1">{{ item.veterinario.nome }}</h6>
              <p class="card-text mb-1">{{ item.dia }} - {{ item.horario }}</p>
              <div class="text-end">
                @if (item.status && (item.status != 'CANCELADO' && item.status != 'REALIZADO')) {
                  <button class="btn btn-sm btn-secondary" (click)="iniciarVacina(item)">
                    Iniciar
                  </button>
                }
              </div>
            </div>
          </div>
        }
      </div>
    }
  } @else {
    @if (isAtendimento && selectedAgendamentoDto) {
      <div class="mt-3 page-header">
        <div class="page-header-main">
          <h4 class="screen-title">
            Atendimento de Vacina {{ selectedAgendamentoDto.pet.sexo === 'Fêmea' ? 'da' : 'do' }}
            {{ selectedAgendamentoDto.pet.nome }} ({{ selectedAgendamentoDto.pet.especie }})
          </h4>
        </div>
      </div>
    }
    @if (isAtendimento && selectedAgendamentoDto) {
      <div class="dadospet-resumo">
        <span><strong>Status:</strong> {{ selectedAgendamentoDto.pet.status ? 'Ativo' : 'Inativo' }}</span>
        <span><strong>Raça:</strong> {{ selectedAgendamentoDto.pet.raca }}</span>
        <span><strong>Esterilização:</strong> {{ selectedAgendamentoDto.pet.esterilizacao ? 'Sim' : 'Não' }}</span>
        <span><strong>Pelagem:</strong> {{ selectedAgendamentoDto.pet.pelagem }}</span>
        <span><strong>Temperamento:</strong> {{ selectedAgendamentoDto.pet.temperamento }}</span>
        <span><strong>Sexo:</strong> {{ selectedAgendamentoDto.pet.sexo }}</span>
        @if (selectedAgendamentoDto.pet.microchip) {
          <span><strong>Chip:</strong> {{ selectedAgendamentoDto.pet.chip }}</span>
        }
        @if (selectedAgendamentoDto.pet.cliente) {
          <span><strong>Responsável:</strong> {{ selectedAgendamentoDto.pet.cliente.nome }}</span>
          <span><strong>Cpf:</strong> {{ selectedAgendamentoDto.pet.cliente.cpf }}</span>
          @if (selectedAgendamentoDto.pet.cliente.endereco) {
            <span>
              <strong>Endereço:</strong> {{ selectedAgendamentoDto.pet.cliente.endereco.logradouro }},
              {{ selectedAgendamentoDto.pet.cliente.endereco.bairro }},
              {{ selectedAgendamentoDto.pet.cliente.endereco.numero }},
              {{ selectedAgendamentoDto.pet.cliente.endereco.cidade }} -
              {{ selectedAgendamentoDto.pet.cliente.endereco.uf }}
            </span>
          }
        }
      </div>
    }
    @if (isAtendimento && selectedAgendamentoDto) {
      <hr />
    }
    @if (isAtendimento && selectedAgendamentoDto) {
      <app-vacina-form
        [agendamento]="selectedAgendamentoDto"
        (cancelar)="onCancelar()"
        (atendimentoConcluido)="onAtendimentoConcluido($event)"
      ></app-vacina-form>
    } @else {
      <app-consultas-form-agendamentos
        [tipoAgendamento]="tipoAgendamento"
        (cancelar)="onCancelar()"
      ></app-consultas-form-agendamentos>
    }
  }
</div>
