<div class="mt-3">
  <div class="row mb-3">
    <!-- Coluna principal -->
    <div [class]="isvisible ? 'col-sm-12' : 'col-sm-9'">
      <h2>Agendamentos</h2>

      <div [class]="isvisible ? 'col-sm-9' : 'col-sm-12'">
        <hr />
      </div>

      <!-- Seleção de tipo de agendamento -->
      @if (!isvisible) {
        <strong>Selecione o tipo de agendamento que deseja.</strong>
        <div class="mt-3 col-4">
          <input
            [(ngModel)]="selectedAgendamento"
            id="agendamentos"
            list="listaEstados"
            class="formControl"
            placeholder="Agendamentos"
            (change)="changeComponentSelected($event)"
          />
          <datalist id="listaEstados">
            @for (a of agendamentos; track a) {
              <option [value]="a"></option>
            }
          </datalist>
        </div>
      }

      <!-- Renderização condicional dos componentes -->
      @if (isvisible) {
        @switch (selectedAgendamento) {
          @case ('Consultas') {
            <app-consultas-form-agendamentos
              (cancelar)="onCancelar()"
              [dto]="selectedAgendamentoDto"
            ></app-consultas-form-agendamentos>
          }
          @case ('Exames') {
            <app-exames></app-exames>
          }
          @case ('Cirurgias') {
            <app-cirurgias></app-cirurgias>
          }
        }
      }
    </div>

    <!-- Coluna lateral com cards -->
    @if (!isvisible) {
      <aside class="col-sm-3 ms-auto left-line">
        <div class="d-flex align-items-center mb-3">
          <button class="btn btn-secondary me-2" (click)="decrementarDia()">
            <i class="fa-solid fa-angle-left"></i>
          </button>
          <strong>{{ diaFormatado() }}</strong>
          <button class="btn btn-secondary ms-2" (click)="incrementarDia()">
            <i class="fa-solid fa-angle-right"></i>
          </button>
        </div>
        @if (agendamentosList().length > 0) {
          <!-- Lista de agendamentos -->
          @for (item of agendamentosList(); track $index) {
            <div class="card mb-2">
              <div
                class="card-header p-0 ps-2"
                [class]="STATUS_BADGE_CLASS[item.consulta.status || 'AGENDADO']"
              >
                {{ item.pet.nome }}
              </div>
              <div class="card-body p-2">
                <h6 class="card-title mb-1">{{ item.veterinario.nome }}</h6>
                <p class="card-text mb-1">{{ item.dia }} - {{ item.horario }}</p>

                @if (item.consulta.status === 'AGENDADO') {
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-sm btn-primary" (click)="confirmarConsulta(item, true)">
                      Confirmar
                    </button>
                    <button class="btn btn-sm btn-danger" (click)="confirmarConsulta(item, false)">
                      Cancelar
                    </button>
                  </div>
                } @else if (item.consulta.status == 'CANCELADO') {
                  <button class="btn btn-sm btn-secondary" (click)="reagendarConsulta(item)">
                    Reagendar
                  </button>
                }
              </div>
            </div>
          }
        }
      </aside>
    }
  </div>
</div>
