.check{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 1rem;
}

.checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.form-switch .form-check-input{
    margin-left: 0;
}

.form-check-input:checked {
    background-color: #bec0c3;
    border-color: #bec0c3;
}
