<div class="mt-3">
  <div class="card-header mb-3">
    <div class="mb-3 col-12 page-header-main">
      <h4 class="mb-0 screen-title">{{ dto ? 'Editar' : 'Cadastrar' }} Pet</h4>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="petForm" (ngSubmit)="salvarPet()" novalidate>
      <div class="container-fluid">
        <div class="g-2 row">
          <!-- Nome -->
          <div class="mb-3 col-6 col-md-4 form-field">
            <label class="form-label">Nome do Animal</label>
            <input
              type="text"
              class="formControl"
              formControlName="nome"
              placeholder="Digite o nome"
            />
            @if (petForm.get('nome')?.invalid && petForm.get('nome')?.touched) {
              <div class="text-danger">Nome é obrigatório.</div>
            }
          </div>

          <!-- Sexo -->
          <div class="mb-3 col-3 col-md-2 form-field">
            <label class="form-label">Sexo</label>
            <input
              class="formControl"
              list="sexoOptions"
              formControlName="sexo"
              placeholder="Selecione o sexo"
            />
            <datalist id="sexoOptions">
              <option value="Macho"></option>
              <option value="Fêmea"></option>
            </datalist>
            @if (petForm.get('sexo')?.invalid && petForm.get('sexo')?.touched) {
              <div class="text-danger">Sexo é obrigatório.</div>
            }
          </div>

          <!-- Esterilização -->
          <div class="form-check form-switch mb-3 col-3 check">
            <label class="form-label" for="esterilizacao">Esterilizado</label>
            <input
              class="form-check-input formControl"
              type="checkbox"
              role="switch"
              id="esterilizacao"
              formControlName="esterilizacao"
            />
          </div>

          <!-- Nascimento -->
          <div class="mb-3 col-4 col-md-3 form-field">
            <label class="form-label">Nascimento</label>
            <input type="date" class="formControl" formControlName="nascimento" />
            @if (petForm.get('nascimento')?.invalid && petForm.get('nascimento')?.touched) {
              <div class="text-danger">Nascimento é obrigatório.</div>
            }
          </div>

          <!-- Espécie -->
          <div class="mb-3 col-4 col-md-3 form-field">
            <label class="form-label">Espécie</label>
            <input
              class="formControl"
              list="especiesOptions"
              formControlName="especie"
              placeholder="Selecione a espécie"
              (change)="onEspecieChange($event.target.value)"
            />
            <datalist id="especiesOptions">
              @for (especie of especies; track especie) {
              <option value="{{ especie }}"></option>
              }
            </datalist>
            @if (petForm.get('especie')?.invalid && petForm.get('especie')?.touched) {
              <div class="text-danger">Espécie é obrigatória.</div>
            }
          </div>

          <!-- Raça -->
          <div class="mb-3 col-4 col-md-3 form-field">
            <label class="form-label">Raça</label>
            <input
              class="formControl"
              list="racasOptions"
              formControlName="raca"
              placeholder="Selecione a raça"
            />
            <datalist id="racasOptions">
              @for (raca of racasSelecionadas; track raca) {
              <option [value]="raca"></option>
              }
            </datalist>
          </div>

          <!-- Pelagem -->
          <div class="mb-3 col-6 col-sm-3 col-md-3 form-field">
            <label class="form-label">Pelagem (Cor)</label>
            <input
              class="formControl"
              list="corPelagemOptions"
              formControlName="pelagem"
              placeholder="Selecione a cor da pelagem"
            />
            <datalist id="corPelagemOptions">
              @for (p of pelagens; track p) {
              <option value="{{ p }}"></option>
              }
            </datalist>
          </div>

          <!-- Temperamento -->
          <div class="mb-3 col-6 col-sm-3 col-md-3 form-field">
            <label class="form-label">Temperamento</label>
            <input
              class="formControl"
              list="temperamentoOptions"
              formControlName="temperamento"
              placeholder="Selecione o temperamento"
            />
            <datalist id="temperamentoOptions">
              @for (t of temperamentos; track t) {
              <option value="{{ t }}"></option>
              }
            </datalist>
          </div>

          <!-- Microchip -->
          <div class="form-check mb-3 col-4 col-sm-3 col-md-2 checkbox form-field">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="microchip"
              id="microchip"
            />
            <label class="form-check-label" for="microchip">Microchip</label>
          </div>

          @if (petForm.get('microchip')?.value) {
          <div class="col-4 col-sm-3 col-md-2 mb-3 form-field">
            <label for="chip" class="form-label">Chip</label>
            <input
              type="text"
              class="formControl"
              formControlName="chip"
              id="chip"
              placeholder="Número do chip"
            />
          </div>
          }
          <!-- Status -->
          <div class="form-check mb-3 col-4 col-sm-3 col-md-2 checkbox form-field">
            <input type="checkbox" class="form-check-input" formControlName="status" id="status" />
            <label class="form-check-label" for="status">Ativo</label>
          </div>
          <!-- Cliente Responsável -->
          <div class="mb-3 col-6 col-md-4 form-field">
            <label class="form-label" for="responsavel">Responsável</label>
            <input
              id="responsavel"
              class="formControl"
              type="text"
              list="responsavelOptions"
              formControlName="clienteNome"
              placeholder="Selecione o responsável"
              (change)="onClienteSelecionado($event)"
            />
            <datalist id="responsavelOptions">
              @for (c of clientes; track c.id) {
              <option [value]="c.nome"></option>
              }
            </datalist>
            @if (petForm.get('clienteNome')?.invalid && petForm.get('clienteNome')?.touched) {
              <div class="text-danger">Responsável é obrigatório.</div>
            }
          </div>
          <!-- Botões -->
          <div class="col-12 d-flex justify-content-end">
            <button type="button" class="btn btn-secondary me-2" (click)="cancelarPet()">
              Descartar
            </button>
            <button type="submit" class="btn btn-success" [disabled]="petForm.invalid">
              {{ dto ? 'Atualizar' : 'Salvar' }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
