<div class="mt-3">
  <div class="card-header mb-3">
    <h5 class="mb-0">{{ dto ? 'Editar' : 'Cadastrar' }} Pet</h5>
  </div>
  <div class="card-body">
    <form [formGroup]="petForm" (ngSubmit)="salvarPet()">
      <div class="container-fluid">
        <div class="g-2 row">
          <!-- Nome -->
          <div class="mb-3 col-6 col-md-4">
            <label class="form-label">Nome do Animal</label>
            <input
              type="text"
              class="formControl"
              formControlName="nome"
              placeholder="Digite o nome"
            />
          </div>

          <!-- Sexo -->
          <div class="mb-3 col-3 col-md-2">
            <label class="form-label">Sexo</label>
            <input
              class="formControl"
              list="sexoOptions"
              formControlName="sexo"
              placeholder="Selecione o sexo"
            />
            <datalist id="sexoOptions">
              <option value="Macho"></option>
              <option value="Fêmea"></option>
            </datalist>
          </div>

          <!-- Esterilização -->
          <div class="form-check form-switch mb-3 col-3 check">
            <label class="form-label" for="esterilizacao">Esterilizado</label>
            <input
              class="form-check-input formControl"
              type="checkbox"
              role="switch"
              id="esterilizacao"
              formControlName="esterilizacao"
            />
          </div>

          <!-- Nascimento -->
          <div class="mb-3 col-4 col-md-3">
            <label class="form-label">Nascimento</label>
            <input type="date" class="formControl" formControlName="nascimento" />
          </div>

          <!-- Espécie -->
          <div class="mb-3 col-4 col-md-3">
            <label class="form-label">Espécie</label>
            <input
              class="formControl"
              list="especiesOptions"
              formControlName="especie"
              placeholder="Selecione a espécie"
              (change)="onEspecieChange($event.target.value)"
            />
            <datalist id="especiesOptions">
              @for (especie of especies; track especie) {
              <option value="{{ especie }}"></option>
              }
            </datalist>
          </div>

          <!-- Raça -->
          <div class="mb-3 col-4 col-md-3">
            <label class="form-label">Raça</label>
            <input
              class="formControl"
              list="racasOptions"
              formControlName="raca"
              placeholder="Selecione a raça"
            />
            <datalist id="racasOptions">
              @for (raca of racasSelecionadas; track raca) {
              <option [value]="raca"></option>
              }
            </datalist>
          </div>

          <!-- Pelagem -->
          <div class="mb-3 col-6 col-sm-3 col-md-3">
            <label class="form-label">Pelagem (Cor)</label>
            <input
              class="formControl"
              list="corPelagemOptions"
              formControlName="pelagem"
              placeholder="Selecione a cor da pelagem"
            />
            <datalist id="corPelagemOptions">
              @for (p of pelagens; track p) {
              <option value="{{ p }}"></option>
              }
            </datalist>
          </div>

          <!-- Temperamento -->
          <div class="mb-3 col-6 col-sm-3 col-md-3">
            <label class="form-label">Temperamento</label>
            <input
              class="formControl"
              list="temperamentoOptions"
              formControlName="temperamento"
              placeholder="Selecione o temperamento"
            />
            <datalist id="temperamentoOptions">
              @for (t of temperamentos; track t) {
              <option value="{{ t }}"></option>
              }
            </datalist>
          </div>

          <!-- Microchip -->
          <div class="form-check mb-3 col-4 col-sm-3 col-md-2 checkbox">
            <input
              type="checkbox"
              class="form-check-input"
              formControlName="microchip"
              id="microchip"
            />
            <label class="form-check-label" for="microchip">Microchip</label>
          </div>

          @if (petForm.get('microchip')?.value) {
          <div class="col-4 col-sm-3 col-md-2 mb-3">
            <label for="chip">Chip</label>
            <input
              type="text"
              class="formControl"
              formControlName="chip"
              id="chip"
              placeholder="Número do chip"
            />
          </div>
          }
          <!-- Status -->
          <div class="form-check mb-3 col-4 col-sm-3 col-md-2 checkbox">
            <input type="checkbox" class="form-check-input" formControlName="status" id="status" />
            <label class="form-check-label" for="status">Ativo</label>
          </div>
          <!-- Cliente Responsável -->
          <div class="mb-3 col-6 col-md-4">
            <label class="form-label" for="responsavel">Responsável</label>
            <input
              id="responsavel"
              class="formControl"
              type="text"
              list="responsavelOptions"
              formControlName="clienteNome"
              placeholder="Selecione o responsável"
              (change)="onClienteSelecionado($event)"
            />
            <datalist id="responsavelOptions">
              @for (c of clientes; track c.id) {
              <option [value]="c.nome"></option>
              }
            </datalist>
          </div>
          <!-- Botões -->
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-success me-2" [disabled]="petForm.invalid">
              {{ dto ? 'Atualizar' : 'Salvar' }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="cancelarPet()">
              Cancelar
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
